html {
    font-family: Lato, sans-serif;
    background-color: white; /*FONDO CLARO*/
    color: #E1E1E1;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.navbar{
    max-width: 840px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
}
.navbar_logo{
    display:flex;
    align-items: center;
    color: #1E88E5;
    font-weight: bold;
}
.navbar_logo img{
    width: 300px;
    height: auto;
    margin-right: 20px;
}
.navbar_navegacion{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}
.navbar_navegacion_item{
    margin-left: 50px;
}
.main{
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px;
}
.form{
    max-width: 100%;
    background-color: deepskyblue;
}
.form_label{
    padding: 10px 0px;
    display: block;
    margin-bottom: 10px;
}
.title, .form_textarea{
    color: bisque;
    width: 500px;
    font-size: 18px;
    padding: 12px 0px;
    background-color: lightblue;
    border:none;
}
.form_submit{
    background-color: black;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 30px;
    margin: 10px;
    border-radius: 10px;
}
.form_submit:hover{
    background-color: white;
}
.footer_item{
    margin-bottom :5px;
    text-decoration: none;
}
.entry{
    background-color: white;
    margin-top: 50px;
}
.entry_title{
    display: inline;
    font-size: 16px;
}
.entry_date{
    color: #1E88E5;
    font-style: italic;
}
.entry_content{
    font-size: 16px;
    line-height: 150%;
}
.footer{
    background-color: wheat;
    padding: 40px 0px;
    margin-top: 50px;
    border-top: 4px solid #1E88E5;
    font-size: 12px;
}
.footer_content{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.footer .left {
    flex-grow: 2;
    display: flex;
}
.footer .right{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
footer_column{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}